<.title text="Promo App" />

<h2 class="text-3xl mb-5">Send your promo code to a friend</h2>

<h4>
    Enter your friend's email below and we'll send them a promo code for 10% off their first game purchase!
</h4>

<div>

    

</div>